.sug{
    margin-top: 100px;
/* position: fixed; */
    
}
.ima{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin-right: 5500px;
}

.cnr{
    margin-left: 80px;
    margin-top: -60px;
    font-size: 17px;
    /* background-color: #0095F6; */
}

.blue{
    margin-left: 330px;
    margin-top: -34px;
    color: #0095F6;
}
.amies{
    margin-top: 40px;
    font-size: 17px;
    color: gray;
}